<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="4.0.0-beta0012" targetFramework="net461" developmentDependency="true" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Sidi.GetOpt" version="0.4.0" targetFramework="net461" />
  <package id="taglib" version="2.1.0.0" targetFramework="net452" />
</packages>