<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Product" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut"/>
      <ComponentRef Id="ApplicationShortcutDesktop" />
    </Feature>
  </Product>

  <Fragment>

    <Icon Id="icon.ico" SourceFile="$(var.SourceDir)\$(var.ProductName).ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="!(bind.property.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="!(bind.property.ProductName)">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="*">
          <Shortcut Id="ApplicationDesktopShortcut"
              Name="$(var.ProductName)"
              Description="Launch application and activity tracker"
              Target="[#filA9D9C96D11DB45D0701461807F22829C]"
              WorkingDirectory="MYAPPDIRPROPERTY"
              Icon="icon.ico"
			  />
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
              Root="HKCU"
              Key="Software\$(var.Manufacturer)\$(var.ProductName)"
              Name="installed"
              Type="integer"
                  Value="1"
                  KeyPath="yes"/>
        </Component>
      </Directory>
    </Directory>


    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="edb02483-facc-4a17-b10b-580ec5580599">
        <Shortcut Id="ApplicationStartMenuShortcut"
              Name="$(var.ProductName)"
              Description="Launch application and activity tracker"
              Target="[#filA9D9C96D11DB45D0701461807F22829C]"
              WorkingDirectory="APPLICATIONROOTDIRECTORY"
              Icon="icon.ico"
            />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
