.album {
	width: 8cm;
	display: inline-block;
	vertical-align: top;
}

.album-art {
	float: left;
}

.album-title { 
    display: block;
}

.track-list {
	clear: left;
    list-style:none;
    padding-left:0;
    display: block;
}​

.track-list li { 
    	display: block;
}

 .album-clear {
    display: none;
}
