.album {
	clear:left;
	display: block;
}

.album-title {
	display: none;
}

.album-art { 
    margin: 0px;
}

.track-list { 
    list-style:none;
    padding-left:0;
}

.track-number {
	display: none;
}

.track-title {
	display: none;
}

.track-duration {
	display: none;
}

.track-list li {
	style: none;
	display: inline;
}

.oid-area {
    width: 2cm;
    height: 2cm;
}

