.album {
	clear:left;
	display: block;
}

.album-title {
	display: inline;
}

.track-list { 
	display: inline;
}

.track-number {
	display: none;
}

.track-title {
	display: none;
}

.track-duration {
	display: none;
}

.track-list li {
	style: none;
	display: inline;
}

.oid-area {
    width: 2cm;
    height: 2cm;
}


