body {
	font-family: helvetica;
	font-size: 10px;
}

h2
{
	font-size: 1.0em;
}

.printInstructions img {
	float: left;
}

.printInstructions {
	font-size: 12px;
	border: solid;
	border-width: 1px;

	background-color: lightyellow;
	
	padding: 4px;
	margin: 4px;
}

.oidDebug {
    display: none;
    font-size: 12px;
    border: solid;
    border-width: 1px;
    background-color: lightyellow;
    padding: 4px;
    margin: 4px;
}

@media print {

	.printInstructions {
		display: none;
	}

    .oidDebug {
        display: none;
    }
}

.album {
	border: solid;
	border-width: 1px;

	padding: 0.1cm;
	margin: 0.05cm;

	page-break-inside: avoid;
	clear:left;
	display: block;
	vertical-align: top;
}

.album-art {
	float: left;
	width: 2cm;
	height: 2cm;
    margin: 4px;
}

.album-title {
	display: inline;
}

.album-clear {
    clear: both;
    display: inline-block;
}

.track-list { 
    display: inline;
    list-style:none;
    padding-left:0;
}

.oid-area { 
   	width: 0.5cm;
	height: 0.5cm;
}

.oid-button { 
	border: solid;
	border-width: 1px;
	display: inline-block;

	padding: 4px;
	margin: 4px;
}
